/* Timer CCS */
@font-face {
    font-family: LatoBlack;
    src: url(fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoThin;
    src: url(fonts/Lato-Hairline.ttf);
}
/* @font-face {
    font-family: IGNIEUS;
    src: url(fonts/IGNIEUS_0.3.ttf);
} */
* {
    box-sizing: border-box;
}
canvas {
  position: absolute;
  top: 0vh;
}
#dashed {
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 50%;
  height: 100vh;
  border-right: 1px dashed rgba(255, 255, 255, 0.5);
  /*background-color: rgba(0,128,255,0.125);*/
  background-color: rgba(0, 0, 0, 0.5);
}
#overlay {
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 1;
  animation-fill-mode: forwards;
}
@keyframes fade_in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade_out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#title {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  font-family: LatoBlack;
  font-size: 5vw;
  text-align: center;
  animation-fill-mode: forwards;
  animation-duration: 15s;
  animation-name: title_fade;
  text-shadow: 0 0 3vw #000;
}
@keyframes title_fade {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#time {
    display: none;
    font-family: LatoThin;
    color: rgba(255, 255, 255, 0.25);
    position: fixed;
    bottom: 0;
    text-align: right;
    z-index: 1;
    width: 100%;
    padding: 2.5%;
    margin: 0 auto;
    font-size: 10vw;
}
#time sup {
  position: relative;
  top: 0.23em;
  padding: 0 0.0625em;
}
button {
    border: 0.125vw solid rgba(255, 255, 255, 0.25);
    border-radius: none;
    font-family: LatoThin;
    font-size: 2.5vw;
    color: rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    transition: all 0.25s;
}
button:hover {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}
